<div class="container">
	<div class="row">

		<h1>配送先編集</h1>


		<% if @address.errors.any? %>
		    <h4>入力した内容にエラーが<%= @address.errors.count %>件あります</h4>
		    <ul>
		      <% @address.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		<% end %>

			<%= form_for(@address) do |f| %>

			  <p>郵便番号</p>
			    <%= f.text_field :post_code %>
			  <p>住所</p>
			    <%= f.text_field :address %>
			  <p>宛名</p>
			    <%= f.text_field :name %>
			  <br>
			    <%= f.submit "編集する" %>

			<% end %>

	</div>
</div>