<div class="container">
	<div class="row">

		<h2>購入情報入力</h2>
		<h3>支払方法</h3>

		<%= form_for(@order, url: orders_judgement_path, method: :get ) do |f| %>
			<label><%= f.radio_button :payment, Order.payments.keys[0] , {:checked => true}%>クレジットカード</label>
			<br><label><%= f.radio_button :payment, Order.payments.keys[1] , {}%>銀行振込</label>
		<h3>お届け先</h3>
			<label><%= radio_button_tag :select_button, "customer_address" ,{:checked => true} %>ご自身の住所</label>
				<p><nobr>〒</nobr><%= @customer.post_code %><%= @customer.address %></p>
				<p><%= @customer.last_name %><%= @customer.first_name %></p>
			<br><label><%= radio_button_tag :select_button, "addresses" ,{} %>登録先の住所から選択</label>

				<p><%= select_tag :select_address, options_for_select(@select_address_form) %></p>

			<br><label><%= radio_button_tag :select_button, "new_address" ,{} %>新しいお届け先</label>
			  <p>郵便番号</p>
			    <%= f.text_field :post_code %><nobr>ハイフンなし</nobr>
			  <p>住所</p>
			    <%= f.text_field :address %>
			  <p>宛名</p>
			  	<%= f.text_field :name %>

			  	<%= f.hidden_field :customer_id, value: current_customer.id %>
			  	<%= f.hidden_field :postage, value: 800 %>
			  	<%= f.hidden_field :billing_amount, value: @order.billing_amount %>

			  	<%= f.hidden_field :sending_status, value: @order.sending_status %>

			  	<%= f.submit '確認画面へ進む', :class => "btn btn-default btn-lg pull-right" %>

		<% end %>

	</div>
</div>