<div class="container">
	<h2>注文履歴詳細</h2>

	<h4>注文情報</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>注文日</th>
				<th>配送先</th>
				<th>支払方法</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @order.created_at %></td>
				<td><%= @order.address %></td>
				<td><%= @order.payment %></td>
				<td><%= @order.sending_status %></td>
			</tr>
		</tbody>
	</table>

	<h4>請求情報</h4>
	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>送料</th>
	        <th>商品合計</th>
	        <th>請求金額</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><%= number_to_currency(800) %></td>
	        <td><%= number_to_currency(@order.billing_amount - 800) %></td>
	        <td><%= number_to_currency(@order.billing_amount) %></td>
	      </tr>
	    </tbody>
	</table>

	<h4>注文内容</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>商品</th>
				<th>単価（税込）</th>
				<th>個数</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<% @order_products.each do |order_product| %>
				<tr>
					<td><%= order_product.product.name %></td>
					<td><%= number_to_currency(order_product.price * 1.08) %></td>
					<td><%= order_product.quantity %></td>
					<td><%= number_to_currency(order_product.price * order_product.quantity * 1.08) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>