カート一覧

<h3>ショッピングカート</h3>
<botton type="botton">カートを空にする</botton>

<!-- ここからカート一覧表示index部分 -->
    <table>
      <thead>
        <tr>
          <th>イメージ画像</th>
          <th>商品名</th>
          <th>税込価格</th>
          <th>数量</th>
          <th>数量変更</th>
          <th>小計</th>
          <th>削除する</th>
          <th colspan="7"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_products.each do |cart_product| %>
          <tr>
            <td><%= cart_product.attachment_field :image %></td>
            <td><%= cart_product.name %></td>
            <td><%= cart_product.price %></td>
            <td><%= cart_product.quantity %></td>
            <td>
				<botton type="botton">
					<%= link_to '変更', cart_products_path(id: cart_product.id) %>
				</botton>
            </td>
            <td><%= cart_product.price %></td>
            <td>
            	<botton type="botton">
					<%= link_to "削除する", cart_products_path(cart_product.id), method: :delete, data: { confirm: '本当に消しますか?' } %>
				</botton>
			</td>
          </tr>
        <% end %>
      </tbody>
    </table>


<!-- ここまでカート一覧表示index部分 -->

<botton type="botton"><%= link_to '買い物を続ける', root_path %></botton>
<botton type="botton">再計算</botton>

<!-- ここから合計金額表示部分 -->
<p>合計金額</p>
<p>¥0,000</p>
<!-- ここまで合計金額表示部分 -->

<botton type="botton"><%= link_to '情報入力に進む', new_order_path %></botton>
