<div class="container">
	<div class="row">
		<div style="padding-top: 30px;"></div>

		<h2>ショッピングカート</h2>

		<botton type="botton" class="btn btn-default pull-right">
			<!-- cart_products_controllerのdestroy_allアクションへ -->
			<%= link_to "カートを空にする",cart_produsts_path, method: :delete, data: { confirm: '本当に消しますか?' } %>
		</botton>

		<div style="margin-top: 30px"></div>

		<!-- ここからカート一覧表示index部分 -->
		    <table class="table table-striped">
		      <thead>
		        <tr>
		          <th>商品名</th>
		          <th></th>
		          <th>単価(税込)</th>
		          <th>数量</th>
		          <th></th>
		          <th>小計</th>
		          <th></th>
		          <th colspan="7"></th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% sum = 0 %>
		        <% @cart_products.each do |cart_product| %>
		          <tr>
		            <td><%= attachment_image_tag cart_product.product, :image, :fill, 80, 72, :class => "img-rounded" %></td>
		            <td><%= cart_product.product.name %></td>
		            <td><%= number_to_currency(cart_product.tax_price, :precision => 0) %>
		            </td>

					<!-- submitを実行すると、url:cart_productのPATCHメソッドへ飛ぶ -->
					<%= form_for(cart_product, url:cart_product_path(cart_product.id), method: :patch) do |cart_product| %>
			            <td><%= cart_product.number_field :quantity, in: 1..100 %></td>
			            <td><%= cart_product.submit "変更", :class => "btn btn-default" %></td>
			        <% end %>

		            <td>
		            	<%= number_to_currency(cart_product.product.price * cart_product.quantity*1.1, :precision => 0) %>
		            </td>
		            <td>
		            	<!-- cart_products_controllerのdestroyアクションへ -->
		            	<botton type="botton" class="btn btn-default">
							<%= link_to "削除する", cart_product_path(cart_product.id), method: :delete, data: { confirm: '本当に消しますか?' } %>
						</botton>
					</td>
		          </tr>
		          	<% sub_total = cart_product.product.price * cart_product.quantity %>
		           	<% sum=sum+sub_total %>
		        <% end %>
		      </tbody>
		    </table>
		<!-- ここまでカート一覧表示index部分 -->

		<div style="margin-bottom: 50px"></div>

		<div class="col-md-8">
			<botton type="botton" class="btn btn-default"><%= link_to '買い物を続ける', root_path %></botton>
		</div>

		<div class="col-md-1">
			<botton type="botton" class="btn btn-default"><%= link_to '再計算', cart_products_path %></botton>
		</div>

		<!-- ここから合計金額表示部分 -->
		<div class="col-md-3">
			<div class="text-right">
				<table class="table table-striped">
			        <tr>
			          <th class="text-right">合計金額</th><td><%= number_to_currency(sum*1.1, :precision => 0) %>(税込)</td>
			        </tr>
			    </table>
			</div>
		</div>
		<!-- ここまで合計金額表示部分 -->

		<botton type="botton" class="btn btn-default btn-lg pull-right"><%= link_to '情報入力に進む', new_order_path %></botton>
	</div>
</div>

