<div class="container">
	<div class="row">
		<div class="col-md-2">
			<!-- ここからジャンル検索リンク一覧部分 -->
			<h2>ジャンル検索</h2>

			<% @genres.each do |genre| %>
				<%= link_to genre.name ,"/products?genre_id=#{genre.id}" %><br>
			<% end %>
			<!-- ここまでジャンル検索リンク一覧部分 -->
		</div>

		<div class="col-md-10">
			<!-- ここから商品一覧部分 -->
			<h3>商品一覧</h3>
				<div class="row">

					<p style="padding-left: 20px;">
						(<% if params[:genre_id] %>
							<%= @genre.name %>
						<% else %>
							<nobr>ALL</nobr>
						<% end %>
						　全<%= @count %>件)
					</p>

					<% @products.each do |product| %>
						<div class="col-sm-4" style="padding-bottom: 50px;">

						<%= link_to product_path(product.id) do %>
							<%= attachment_image_tag product, :image, :fill, 200, 180 %>
						<% end %>

					    </p>
					    	<%= link_to product_path(product.id) do %>
					    		<%= product.name %>
					    	<% end %>
					    </p>

					    </p>
					    	<%= number_to_currency(product.tax_price, :precision => 0) %>
					    </p>

						</div>
					<% end %>
					<%= paginate @products, class: "paginate" %>
				</div>
			<!-- ここまで商品一覧部分 -->
		</div>

	</div>
</div>