<div class="container">
	<div class="row">

		<h2>商品一覧画面</h2>

		<div class="col-md-2">
			<!-- ここからジャンル検索リンク一覧部分 -->
			<h3>ジャンル検索</h3>

			<% @genres.each do |genre| %>
				<%= link_to genre.name ,"/products?genre_id=#{genre.id}" %><br>
			<% end %>
			<!-- ここまでジャンル検索リンク一覧部分 -->
		</div>

		<div class="col-md-10">
			<!-- ここから商品一覧部分 -->
			<h3>商品一覧</h3>

			<p>
				(<% if params[:genre_id] %>
					<%= @genre.name %>
				<% else %>
					<nobr>ALL</nobr>
				<% end %>
				　全<%= @count %>件)
			</p>

			<% @products.each do |product| %>

			    <p>イメージ画像</p>
				<%= link_to product_path(product.id) do %>
					<%= attachment_image_tag product, :image, :fill, 200, 180 %>
				<% end %>

			    <p>商品名</p>
			    <%= link_to product_path(product.id) do %>
			    	<%= product.name %>
			    <% end %>

			    <p>税込価格</p>
			    <%= number_to_currency(product.tax_price, :precision => 0) %>

			<% end %>
			<%= paginate @products, class: "paginate" %>
			<!-- ここまで商品一覧部分 -->
		</div>

	</div>
</div>