<div class="container">
	<div class="row">
		<div class="col-md-2">
			<!-- ここからジャンル検索リンク一覧部分 -->
			<h2>ジャンル検索</h2>

			<% @genres.each do |genre| %>
				<%= link_to genre.name ,"/products?genre_id=#{genre.id}" %><br>
			<% end %>
			<!-- ここまでジャンル検索リンク一覧部分 -->
		</div>

		<div class="col-md-10">
			<!-- ここから商品詳細部分 -->
			<h3>商品詳細</h3>
				<div class="row">

					<div class="col-sm-6" style="padding-top: 30px;">
						<%= attachment_image_tag @product, :image, :fill, 400, 300 %>
					</div>

					<div class="col-sm-6">
						<h4 style="padding-bottom: 30px;"><%= @product.name %></h4>

						<p style="padding-bottom: 30px;"><%= @product.text %></p>

						<h5 style="padding-bottom: 30px;"><%= number_to_currency(@product.tax_price, :precision => 0) %>(税込)</h5>

					<!-- submitを実行すると、url:cart_productsのPOSTメソッドへ飛ぶ -->
					<%= form_for(@cart_product, url:cart_products_path, method: :post) do |cart_product| %>

						</p style="padding-bottom: 30px;"><%= cart_product.number_field :quantity, in: 1..50 %>個</p>

						<%= cart_product.hidden_field :product_id, value: @product.id %>

						<%= cart_product.submit "カートに入れる" %>
					</div>

					<% end %>
				</div>
			<!-- ここまで商品詳細部分 -->
		</div>

	</div>
</div>