<h2>商品詳細画面</h2>

<!-- ここからジャンル検索リンク一覧部分 -->
<h3>ジャンル検索</h3>

<% @genres.each do |genre| %>
	<%= link_to genre.name ,"/products?genre_id=#{genre.id}" %><br>
<% end %>
<!-- ここまでジャンル検索リンク一覧部分 -->


<!-- ここから商品詳細部分 -->
<h3>商品詳細</h3>

	<p>イメージ画像</p>
	<%= attachment_image_tag @product, :image, :fill, 100, 100 %>

	<p>商品名</p>
	<%= @product.name %>

	<p>説明文</p>
	<%= @product.text %>

	<p>税込価格</p>
	<%= @product.price %>


<!-- submitを実行すると、url:cart_productsのPOSTメソッドへ飛ぶ -->
<%= form_for(@cart_product, url:cart_products_path, method: :post) do |cart_product| %>

	<p>個数選択</p>
	<%= cart_product.number_field :quantity, in: 1..100 %><br>

	<%= cart_product.hidden_field :product_id, value: @product.id %>

	<%= cart_product.submit "カートに入れる" %>

<% end %>
<!-- ここまで商品詳細部分 -->