<!-- main-visual用のdiv -->
<div class="main-visual">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            Nagano Cake
        </h1>
        <p class="main-visual-text">
            Ingredients and the techniques of preparation are important in cooking,<br>
            but if you don't put your heart into it,<br>
            there's no way you can make something delicious.
        </p>
    </div>
</div>
<!-- main-visual用のdiv -->


<div class="container">
    <div class="row">
        <div style="padding-top: 30px;"></div>
        <div class="col-md-2">
            <%= flash[:destroyed] %>
            <!-- ここからジャンル検索リンク一覧部分 -->

            <h3>ジャンル検索</h3>

            <% @genres.each do |genre| %>
            	<%= link_to genre.name ,"/products?genre_id=#{genre.id}" %><br>
            <% end %>
            <!-- ここまでジャンル検索リンク一覧部分 -->
        </div>

        <div class="col-md-10">
            <!-- ここから商品一覧部分 -->
            <h2>商品一覧</h2>
                <div class="row">

                    <p style="padding-left: 20px;">
                        (ALL　全<%= @count %>件)
                    </p>

                    <% @products.each do |product| %>
                        <div class="col-sm-4" style="padding-bottom: 50px;">

                    	<%= link_to product_path(product.id) do %>
                    		<%= attachment_image_tag product, :image, :fill, 200, 180, :class => "img-rounded" %>
                    	<% end %>

                        <div style="margin-top: 10px"></div>

                        <p>
                            <%= link_to product_path(product.id) do %>
                            	<%= product.name %>
                            <% end %>
                        </p>

                        <p>
                            <%= number_to_currency(product.tax_price, :precision => 0) %>
                        </p>

                        </div>
                    <% end %>

                    <%= paginate @products, class: "paginate" %>
                </div>
            <!-- ここまで商品一覧部分 -->
        </div>

    </div>
</div>