<div class="container">
	<div class="row">
		<h2><strong>注文詳細画面</strong></h2>

		<table>
			<tr>
				<th>購入者</th>
				<td></td>
			</tr>
			<tr>
				<th>配送先</th>
				<td></td>
			</tr>
			<tr>
				<th>支払方法</th>
				<td>内容</td>
			</tr>
			<tr>
				<%=form_for(@order) do |f|  %>
				<th>注文ステータス</th>
				<td></td>
				<% end %>
			</tr>
		</table>

		<table class="table table-striped">
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @order_products.each do |order_product| %>
			<tr>
				<!-- プロダクトネームが出なかったのでエラー回避のためオーダーを表示 -->
				<td><%= order_product.order.name %></td>
				<td><%= order_product.price %></td>
				<td><%= order_product.quantity %></td>
				<td>
					<% order_price = order_product.price * order_product.quantity * 1.1 %>
				</td>
				<td></td>
			</tr>
			<% end %>
		</tbody>
		</table>

		<table>
			<tr>
				<th>商品合計</th>
				<td>内容</td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= number_to_currency(800) %></td>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<td>円</td>
			</tr>
		</table>

	</div>
</div>